body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.seccion-banner{
    position: relative;
}

.banner{
    height: 60vh;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}

.pestania{
    position: fixed;
    left: 0;
    top: 40%;
    width: 55px;
    background-color: #212529;
    color: white;
    padding: 12px;
    border-radius: 0px 10px 10px 0px;
}

.pestania i{
    font-size: 24px;
}

.pestania p{
    font-size: 12px;
    line-height: 1.2;
    margin: 4px 0 0 0;
}

.btn-sorprendeme{
    width: 550px;
    color: white;
}